.header {
  color: $text-color_second;
  padding-bottom: 50px;

  &__links {
    padding: 25px;
    background: url("../img/section-bg/1.svg") no-repeat bottom $mark-color-first;
  }

  &__nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }

  &__list {
    justify-self: end;
  }

  &__buttons {
    display: flex;
  }

  &__loupe {
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;

    transition: color $transition-time;

    &:hover {
      color: $mark-color-second-dark;
    }
  }

  &__content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 162px 0 207px;
  
    position: relative;
    overflow: hidden;
  }

  &__slides {
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;

    transform: translateX(-1500px);
    transition: transform $transition-time;
  }

  &__slide {
    width: 1500px;
  }

  &__arrow {
    width: 50px;
    height: 57px;
    background-color: $mark-color-second;
    border-bottom: 3px solid $mark-color-second_dark;
    border-radius: 3px;

    &::before {
      display: block;
      font-family: FontAwesome;
      font-size: 40px;
      color: $text-color_second;
    }

    &-left {
      &::before {
        content: "";
      }

      &:active::before {
        transform: translateX(-5px);
      }
    }

    &-right {
      &::before {
        content: "";
      }

      &:active::before {
        transform: translateX(5px);
      }
    }
  }

  &__title {
    width: fit-content;
    padding: 0 12px;
    margin: 0 auto;

    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: $mark-color-second;
    border-radius: 5px;
  }

  &__text {
    display: flex;
  }

  &__description {
    max-width: 470px;
    margin: 10px auto 0;
    padding: 9px 38px 12px;

    font-size: 16px;
    line-height: 25px;
    text-align: center;
    background-color: #000;
    border-radius: 5px;
    opacity: 0.5;
  }

  &__control {
    display: flex;
    justify-content: center;
    margin-top: 21px;
  }

  &__rectangle {
    width: 60px;
    height: 5px;
    background-color: #b0b8b9;
  
    cursor: pointer;
    transition: background-color $transition-time;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-active {
      background-color: $mark-color-second_dark;
    }
  }

  @media (max-width: $screen-xlarge) {
    position: relative;

    &__nav {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }

    &__loupe {
      margin-right: 25px;
    }
  }

  @media (max-width: $screen-small) {
    &__title {
      font-size: 30px;
    }

    &__description {
      padding: 6px 15px 10px;
    }
    
    &__content {
      padding: 125px 0;
    }

    &__arrow {
      height: 45px;

      &-left {
        margin-right: 10px;
      }

      &-right {
        margin-left: 10px;
      }
    }
  }
}
