$text-color_main: #777;
$text-color_title: #7f8c8c;
$text-color_second: #fff;
$text-color_third: #1f4b4b;
$mark-color-first: #76c7c0;
$mark-color-first_dark: #62b9b0;
$mark-color-second: #e2534b;
$mark-color-second_dark: #d93600;

$transition-time: 0.5s;

$screen-xlarge: 1256px;
$screen-large: 992px;
$screen-medium: 768px;
$screen-small: 576px;
